.tarteaucitronWidget25p {
    float: left;
    text-align: center;
    width: 25%;
}

.tarteaucitronWidget100p {
    text-align: center;
    width: 100%;
}

.tarteaucitronclear {
	clear: both;
}

.tac_activate {
    background-color: #333333d9;
}

.tac_float {
    padding: .5rem;
    line-height: normal;
}
.tac_float a { /* @todo One or two pixels height diff between "button" and "a" */
    /*text-underline-offset: unset;
    line-height: normal;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;*/
}

.tarteaucitron_player  {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.with-thumbnail .tac_activate {
    width: 100%;
    height: auto;
}

/* you should put the "wp-embed-aspect-16-9 wp-has-aspect-ratio" classes on "figure" tag
like for youtube, but I didn't find how :-(
.wp-block-embed.is-type-rich.is-provider-contenu-embarque.wp-block-embed-contenu-embarque .wp-block-embed__wrapper:before {
*/
figure.wp-block-embed.is-type-rich .wp-block-embed__wrapper:before {
    content: "";
    display: block;
    padding-top: 50%;
}
